@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Learn About Authorizing External Applications <a href="https://docs.uipath.com/automation-cloud/docs/about-external-applications">UiPath Authorizing External Applications</a>.</p>

    <br />
    <img src="~/UiPath 2D Flying Pose05.png" style="width:300px; height:333px" />

</div>
